*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Styling for the header section */
header{
  background-color: #17072b;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Styling for the main heading */
h1{
  text-align: center;
  font-family: Tahoma;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

/* Styling for the second heading */
h2{
  font-family: Arial;
  font-weight: 800;
  color: #000000;
  text-decoration: underline;
}

/* Styling for the paragraph */
p{
  font-family: Arial;
}

/* Styling for the items in the navigation bar */
.Home{
  cursor: pointer;
  font-family: Arial;
  font-weight: 400;
  color: white;
  margin-left: 450px;
}

.About{
  cursor: pointer;
  font-family: Arial;
  font-weight: 400;
  color: white;
  margin-left: 25px;
}

.WhatsOn{
  cursor: pointer;
  font-family: Arial;
  font-weight: 400;
  color: white;
  margin-left: 25px;
}

.Contact{
  cursor: pointer;
  font-family: Arial;
  font-weight: 400;
  color: white;
  margin-left: 25px;
}

.Tickets{
  cursor: pointer;
  font-family: Arial;
  font-weight: 400;
  color: white;
  margin-left: 25px;
}

/* Stying for the main section */
main{
  padding-left: 20px;
  width: 820px;
}

/* Styling for the footer section */
footer{
  background-color: #8c15e9;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Styling for the aside section */
aside{
  background-color: #172d67;
  float: right;
  width: fit-content;
  height: 455px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  position: relative;
  margin-top: -458px;
}

.sidebar-text{
  color: white;
  padding-left: 20px;
}

.sidebar-moretext{
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.main-body-text{
  font-size: 20px;
}
