/* Apply styles to all HTML elements */
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Styling for the entire webpage */
body{
    font-family: Arial;
    background-color: rgb(89, 117, 255);
}

/* Styling for the header section */
header{
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-left: 30px;
    text-align: center;
}

/* Styling for the navigation bar */
nav{
    background-color: rgb(101, 13, 183);
    display: flex;  
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 30px;
    margin-top: -10px;
}
  
.navbar{
    display: inline;
    display: flex;
    list-style: none;
  }
  
.navbar a{
    color: rgb(255, 255, 255);
    padding: 70px;
}

/* Styling for navigation bar items */
.Resource{
    padding-left: 104px;
    color: aliceblue;
}

.About{
    color: aliceblue;
    text-align: center;
    position: relative;
    top: -606px;
}

.Assessment{
    color: aliceblue;
    text-align: center;
    position: relative;
    top: -312px;
}

.Tutor{
    color: aliceblue;
    text-align: center;
    position: relative;
    top: -660px;
    padding-left: 1000px;
    right: 2%;
}

.Module{
    color: aliceblue;
    text-align: center;
    position: relative;
    top: -450px;
    padding-left: 1000px;
    right: 2%;
}

/* Styling for subheadings (h3) */
.HTML{
    padding-left: 90px;
    color: aliceblue;
    text-decoration: underline;
}

.CSS{
    padding-left: 90px;
    color: aliceblue;
    text-decoration: underline;
}

.JavaScript{
    padding-left: 70px;
    color: aliceblue;
    text-decoration: underline;
}

/* Styling for different container boxes */
.flex-container{
    width: 100%;
    height: auto;
}

.container{
    width: 320px;
    height: 180px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(53, 86, 255),rgb(53, 86, 255));
    border-radius: 20px;
    margin: 10px;
}

.second-container{
    text-align: center;
    width: 320px;
    height: 220px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(53, 86, 255),rgb(53, 86, 255));
    border-radius: 20px;
    margin: 10px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.third-container{
    text-align: center;
    width: 320px;
    height: 160px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(53, 86, 255),rgb(53, 86, 255));
    border-radius: 20px;
    margin: 20px;
    position: absolute;
    top: 99%;
    left: 49%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.fourth-container{
    text-align: center;
    width: 320px;
    height: 140px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(53, 86, 255),rgb(53, 86, 255));
    border-radius: 20px;
    margin: 20px;
    position: absolute;
    top: 39%;
    left: 85%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.fifth-container{
    text-align: center;
    width: 320px;
    height: 315px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(53, 86, 255),rgb(53, 86, 255));
    border-radius: 20px;
    margin: 20px;
    position: absolute;
    top: 99%;
    left: 85%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* Styling for anchor links */
a{
    padding-left: 10px;
    color: white;
}

/* Styling for the footer section */
footer{
    background-color: #00bbff;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}



  