/* Styling for the entire webpage */
body{
    background-color: bisque;
    font-family: 'Times New Roman';
}

/* Styling for main heading (h1) */
h1{
    text-align: center;
}

/* Styling for the image */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for the footer section */
footer{
    text-align: center;
}