/* Styling for the main heading */
h1{
    text-align: center;
}

/* Styling for the image */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for the footer section */
footer{
    text-align: center;
}